<form *ngIf="groupForm" [formGroup]="groupForm" (submit)="saveG()">
  <div class="row no-gutters justify-content-start">
    <div class="col border">
      <div class="topic" (click)="isShow=!isShow"><mdb-icon fas icon="angle-up" *ngIf="!isShow"></mdb-icon><mdb-icon fas icon="angle-down" *ngIf="isShow"></mdb-icon>&nbsp;Group Details</div>
      <div *ngIf="!isShow" class="p-3">
        <!-- Material background input -->
        <div class="md-form md-bg my-0">
          <input type="text" id="name" class="form-control" formControlName="name" required mdbInput>
          <label for="name">Group name</label>
          <mdb-error class="error" *ngIf="isControlInvalid('name')">Only letters, digits and spaces!</mdb-error>
        </div>
        
        <button type="submit" [disabled]="!groupForm.valid" class="btn btn-success">Save</button>
      </div>
      <div class="topic" (click)="isShow2=!isShow2"><mdb-icon fas icon="angle-up" *ngIf="!isShow2"></mdb-icon><mdb-icon fas icon="angle-down" *ngIf="isShow2"></mdb-icon>&nbsp;Group Permissions</div>
      <div *ngIf="!isShow2" class="p-2">
        <div formArrayName="permissions" *ngFor="let permission of formPermissions.controls; let i = index">
          <div class="my_checkbox">
            <input type="checkbox" *ngIf="permissions" id="permission_{{permissions[i].id}}" value="{{permissions[i].id}}" [formControlName]="i" />
            <label for="permission_{{permissions[i].id}}" *ngIf="permissions" class="font-weight-normal w-100">{{permissions[i].name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col border">

    </div>
  </div>
</form>
